*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* First block part */
.firstBlock{
    background-image: url('../Images/brown-wooden-textured-flooring-background.jpg');
    background-size: cover;
}

.header{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: white;
    padding: 1rem;   
}

.navigation{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

.mainTitle{
    width : 75%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color:white;
    text-align: center;
}

.mainTitle h1{
    font-size: 64px; 
}

.mainTitle h2{
    font-size: 32px;
}

#word1{
    position: relative;
    right: 1rem;
    bottom: 1rem;
}

#word2{
    position: relative;
    left: 3rem;
    top: 0.5rem;
    bottom: 2rem;
}

#word3{
    color: lightgrey;
    position: relative;
    left: 7rem;
    top: 1rem;
    bottom: 2rem;
}