body{
    background-image: url('../Images/dark-gray-wooden-textured-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex; 
    flex-direction : row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#logo{
    width : 100px;
    height: 100px;
}

h1{
    color: white;
}

h2{
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

p{
    font-family:"Glacial Indifference", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-left: 200px;
    margin-right: 200px;
    color: #737373;
}
#special{
    color:white;
}

#prenom{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
}

#prenom:hover{
    color: red;
}

#title{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 128px;
    margin-top: 250px;
}

#title:hover{
    font-size: 132px;
}

.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.title-class{
    color: black;
    font-size: 52px;
}
.title-class2{
    color:white;
    font-size: 52px;
    margin-bottom: 0;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
}

#profil-photo{
    margin-right: 150px;
    margin-bottom: 75px;
    
}

.competences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



